body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 18px;
	margin: 0px;
}
.veranstaltungText {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 18px;
	color: #000000;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #A01C2E;
	line-height: 18px;
}
.subheadline {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #A01C2E;
	line-height: 18px;
}
.veranstaltungArt {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 18px;
	color: #000000;
	font-style: italic;
	margin: 0px;
	padding: 0px;
}
.content_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 18px;
	color: #000000;
	padding-left: 15px;

}
.content_text a {
	color: #A01C2E;
	font-weight: bold;
	text-decoration: none;
}
.content_text a:hover {
	color: #000000;
	text-decoration:underline;
}
.kontakt_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 18px;
	color: #000000;
}
.kontakt_text a {
	color: #A01C2E;
	font-weight: bold;
	text-decoration: none;
}
.kontakt_text a:hover {
	color: #000000;
	text-decoration:underline;
}
.veranstaltungOrt {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: 100;
	color: #000000;
	text-transform: uppercase;
}
.bildunterschrift {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-style: italic;
	line-height: 18px;
	color: #A01C2E;
	letter-spacing: 0.0175em;
}
.bilder {
	margin: 0px 15px 0px 0px;
	border: 1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	clear: none;
	padding: 0px;
	text-align: left;
}
.bilderRechts {
	margin: 10px 0px 0px 15px;
	border: 1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	padding: 0px;
	text-align: right;
}
.bgrstartseite {
	background-attachment: fixed;
	background-image: url(bilder/startseite.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.naviunten {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #A01C2E;
}

.naviunten a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.naviunten a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #A01C2E;
}
